// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as AgentMail from "../../../index.js";

export declare namespace MetricsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MetricsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MetricsClient.Options>;

    constructor(options: MetricsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Counts of email events (sent, delivered, bounced, etc.) over time for
     * the organization. Defaults to the last 24 hours; `start` must be within
     * the last 90 days, and a future `end` is clamped to now. Omit `period`
     * for individual event counts, or set it to sum counts into buckets of
     * that many seconds.
     *
     * **CLI:**
     * ```bash
     * agentmail metrics list
     * ```
     *
     * @param {AgentMail.QueryEventsRequest} request
     * @param {MetricsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.ValidationError}
     *
     * @example
     *     await client.metrics.queryEvents()
     */
    public queryEvents(
        request: AgentMail.QueryEventsRequest = {},
        requestOptions?: MetricsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.QueryMetricsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryEvents(request, requestOptions));
    }

    private async __queryEvents(
        request: AgentMail.QueryEventsRequest = {},
        requestOptions?: MetricsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.QueryMetricsResponse>> {
        const { eventTypes, start, end, period, limit, descending } = request;
        const _queryParams: Record<string, unknown> = {
            event_types:
                eventTypes != null
                    ? toJson(
                          serializers.MetricEventTypes.jsonOrThrow(eventTypes, {
                              unrecognizedObjectKeys: "strip",
                              omitUndefined: true,
                          }),
                      )
                    : undefined,
            start:
                start != null
                    ? serializers.Start.jsonOrThrow(start, { unrecognizedObjectKeys: "strip", omitUndefined: true })
                    : undefined,
            end:
                end != null
                    ? serializers.End.jsonOrThrow(end, { unrecognizedObjectKeys: "strip", omitUndefined: true })
                    : undefined,
            period,
            limit,
            descending,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                "/v0/metrics/events",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.QueryMetricsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentMail.ValidationError(
                        serializers.ValidationErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/metrics/events");
    }

    /**
     * Cumulative usage series for the organization. Each point is the running
     * total of the usage type at that timestamp, not the change within the
     * bucket. Defaults to the last 24 hours; `start` must be within the last
     * 90 days, and a future `end` is clamped to now. The range divided by
     * `period` must not exceed 1000 buckets.
     *
     * @param {AgentMail.QueryUsageRequest} request
     * @param {MetricsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.ValidationError}
     *
     * @example
     *     await client.metrics.queryUsage()
     */
    public queryUsage(
        request: AgentMail.QueryUsageRequest = {},
        requestOptions?: MetricsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.QueryUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryUsage(request, requestOptions));
    }

    private async __queryUsage(
        request: AgentMail.QueryUsageRequest = {},
        requestOptions?: MetricsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.QueryUsageResponse>> {
        const { usageTypes, start, end, period, limit, descending } = request;
        const _queryParams: Record<string, unknown> = {
            usage_types:
                usageTypes != null
                    ? toJson(
                          serializers.UsageTypes.jsonOrThrow(usageTypes, {
                              unrecognizedObjectKeys: "strip",
                              omitUndefined: true,
                          }),
                      )
                    : undefined,
            start:
                start != null
                    ? serializers.Start.jsonOrThrow(start, { unrecognizedObjectKeys: "strip", omitUndefined: true })
                    : undefined,
            end:
                end != null
                    ? serializers.End.jsonOrThrow(end, { unrecognizedObjectKeys: "strip", omitUndefined: true })
                    : undefined,
            period,
            limit,
            descending,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                "/v0/metrics/usage",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.QueryUsageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentMail.ValidationError(
                        serializers.ValidationErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v0/metrics/usage");
    }
}
