// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as AgentMail from "../../../../../index.js";

export declare namespace BrowserCredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BrowserCredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BrowserCredentialsClient.Options>;

    constructor(options: BrowserCredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Attach a browser enrollment intent to the inbox. Requires
     * `api_key_create`. Before submitting `transaction_jti`, independently
     * verify that the browser page's final origin is exactly
     * `https://auth.agentid.com`.
     *
     * This endpoint is available to every organization using US production.
     * It is not available in EU production.
     *
     * Select `inbox_id` from trusted AgentMail configuration. An AgentID
     * `login_hint` is not authoritative for selecting the inbox; when the
     * transaction includes one, it must match the path inbox.
     *
     * **AgentMail API keys are sent only to `https://api.agentmail.to`; AgentID never requests them.**
     *
     * A new intent returns `202`; an idempotent retry for the same pending
     * transaction, inbox, and bearer key returns `200` with the same receipt.
     * An intent lasts at most five minutes. An activated credential lasts at
     * most 30 days and cannot outlive its authorizing bearer API key.
     *
     * Creation is limited to 20 intents per bearer API key per hour, 100 per
     * organization per hour, and five live unused intents per bearer API key.
     * Browser activation is separately limited to 20 activations per
     * authorizing bearer API key per UTC day. Either kind of limit can return
     * `429`; honor the `Retry-After` header. Cancelling an enrollment releases
     * its live-intent slot but does not reset the daily activation counter.
     *
     * @param {AgentMail.inboxes.InboxId} inbox_id
     * @param {AgentMail.CreateBrowserEnrollmentRequest} request
     * @param {BrowserCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.ValidationError}
     * @throws {@link AgentMail.NotFoundError}
     * @throws {@link AgentMail.ConflictError}
     *
     * @example
     *     await client.inboxes.browserCredentials.createEnrollment("inbox_id", {
     *         transactionJti: "blackcurrant.........."
     *     })
     */
    public createEnrollment(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.CreateBrowserEnrollmentRequest,
        requestOptions?: BrowserCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.BrowserEnrollmentAccepted> {
        return core.HttpResponsePromise.fromPromise(this.__createEnrollment(inbox_id, request, requestOptions));
    }

    private async __createEnrollment(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.CreateBrowserEnrollmentRequest,
        requestOptions?: BrowserCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.BrowserEnrollmentAccepted>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                `/v0/inboxes/${core.url.encodePathParam(serializers.inboxes.InboxId.jsonOrThrow(inbox_id, { omitUndefined: true }))}/browser-credentials/enrollments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.CreateBrowserEnrollmentRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.BrowserEnrollmentAccepted.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentMail.ValidationError(
                        serializers.ValidationErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentMail.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentMail.ConflictError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/inboxes/{inbox_id}/browser-credentials/enrollments",
        );
    }
}
