// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as AgentMail from "../../../../../../../index.js";

export declare namespace PollingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PollingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PollingClient.Options>;

    constructor(options: PollingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the polling webhooks created through this inbox route.
     *
     * **CLI:**
     * ```bash
     * agentmail inboxes webhooks polling list --inbox-id <inbox_id>
     * ```
     *
     * @param {AgentMail.inboxes.InboxId} inbox_id
     * @param {AgentMail.inboxes.webhooks.InboxListPollingWebhooksRequest} request
     * @param {PollingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.ValidationError}
     *
     * @example
     *     await client.inboxes.webhooks.polling.list("inbox_id")
     */
    public list(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.inboxes.webhooks.InboxListPollingWebhooksRequest = {},
        requestOptions?: PollingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.webhooks.ListPollingWebhooksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(inbox_id, request, requestOptions));
    }

    private async __list(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.inboxes.webhooks.InboxListPollingWebhooksRequest = {},
        requestOptions?: PollingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.webhooks.ListPollingWebhooksResponse>> {
        const { limit, pageToken, ascending } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page_token: pageToken,
            ascending,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                `/v0/inboxes/${core.url.encodePathParam(serializers.inboxes.InboxId.jsonOrThrow(inbox_id, { omitUndefined: true }))}/webhooks/polling`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.webhooks.ListPollingWebhooksResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentMail.ValidationError(
                        serializers.ValidationErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/inboxes/{inbox_id}/webhooks/polling",
        );
    }

    /**
     * **CLI:**
     * ```bash
     * agentmail inboxes webhooks polling get --inbox-id <inbox_id> --webhook-id <webhook_id>
     * ```
     *
     * @param {AgentMail.inboxes.InboxId} inbox_id
     * @param {AgentMail.webhooks.WebhookId} webhook_id
     * @param {PollingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.NotFoundError}
     *
     * @example
     *     await client.inboxes.webhooks.polling.get("inbox_id", "webhook_id")
     */
    public get(
        inbox_id: AgentMail.inboxes.InboxId,
        webhook_id: AgentMail.webhooks.WebhookId,
        requestOptions?: PollingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.webhooks.PollingWebhook> {
        return core.HttpResponsePromise.fromPromise(this.__get(inbox_id, webhook_id, requestOptions));
    }

    private async __get(
        inbox_id: AgentMail.inboxes.InboxId,
        webhook_id: AgentMail.webhooks.WebhookId,
        requestOptions?: PollingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.webhooks.PollingWebhook>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                `/v0/inboxes/${core.url.encodePathParam(serializers.inboxes.InboxId.jsonOrThrow(inbox_id, { omitUndefined: true }))}/webhooks/polling/${core.url.encodePathParam(serializers.webhooks.WebhookId.jsonOrThrow(webhook_id, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.webhooks.PollingWebhook.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentMail.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v0/inboxes/{inbox_id}/webhooks/polling/{webhook_id}",
        );
    }

    /**
     * Create a polling webhook scoped to this inbox and return the `token` that reads it.
     *
     * **CLI:**
     * ```bash
     * agentmail inboxes webhooks polling create --inbox-id <inbox_id> --client-id my-agent --event-types message.received
     * ```
     *
     * @param {AgentMail.inboxes.InboxId} inbox_id
     * @param {AgentMail.webhooks.CreateInboxPollingWebhookRequest} request
     * @param {PollingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.ValidationError}
     * @throws {@link AgentMail.ConflictError}
     *
     * @example
     *     await client.inboxes.webhooks.polling.create("inbox_id", {
     *         clientId: "client_id",
     *         eventTypes: ["message.received", "message.received"]
     *     })
     */
    public create(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.webhooks.CreateInboxPollingWebhookRequest,
        requestOptions?: PollingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentMail.webhooks.CreatePollingWebhookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(inbox_id, request, requestOptions));
    }

    private async __create(
        inbox_id: AgentMail.inboxes.InboxId,
        request: AgentMail.webhooks.CreateInboxPollingWebhookRequest,
        requestOptions?: PollingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentMail.webhooks.CreatePollingWebhookResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                `/v0/inboxes/${core.url.encodePathParam(serializers.inboxes.InboxId.jsonOrThrow(inbox_id, { omitUndefined: true }))}/webhooks/polling`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.webhooks.CreateInboxPollingWebhookRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.webhooks.CreatePollingWebhookResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentMail.ValidationError(
                        serializers.ValidationErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentMail.ConflictError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v0/inboxes/{inbox_id}/webhooks/polling",
        );
    }

    /**
     * **CLI:**
     * ```bash
     * agentmail inboxes webhooks polling delete --inbox-id <inbox_id> --webhook-id <webhook_id>
     * ```
     *
     * @param {AgentMail.inboxes.InboxId} inbox_id
     * @param {AgentMail.webhooks.WebhookId} webhook_id
     * @param {PollingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentMail.NotFoundError}
     *
     * @example
     *     await client.inboxes.webhooks.polling.delete("inbox_id", "webhook_id")
     */
    public delete(
        inbox_id: AgentMail.inboxes.InboxId,
        webhook_id: AgentMail.webhooks.WebhookId,
        requestOptions?: PollingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(inbox_id, webhook_id, requestOptions));
    }

    private async __delete(
        inbox_id: AgentMail.inboxes.InboxId,
        webhook_id: AgentMail.webhooks.WebhookId,
        requestOptions?: PollingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AgentMailEnvironment.Prod)
                        .http,
                `/v0/inboxes/${core.url.encodePathParam(serializers.inboxes.InboxId.jsonOrThrow(inbox_id, { omitUndefined: true }))}/webhooks/polling/${core.url.encodePathParam(serializers.webhooks.WebhookId.jsonOrThrow(webhook_id, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentMail.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentMailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v0/inboxes/{inbox_id}/webhooks/polling/{webhook_id}",
        );
    }
}
